<%= minimal_form_for(@classroom) do |f| %>

  <p>
  <%= f.input :name, placeholder: 'course name' %>
  </p>
  <p>
  <%= f.input :description, placeholder: 'tell me about this classroom' %>
  </p>
  <p>
  <%= f.input :chair_rating, placeholder: 'what about the chairs? be honest.' %>
  </p>
  <p>
  <%= f.button :submit %>
  </p>
<% end %>