<div class="signup">
  <h3 class="signup-header">Let's get you started.</h2>
  <div class="signup-body">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="row">
      <div class="large-centered">
        <div class="row collapse prefix-radius">
          <p>
          <div class="small-3 columns">
            <span class="prefix">Name</span>
          </div>
          <div class="small-9 columns">
          <%= f.text_field :name, required: true, autofocus:true, placeholder: "kanye west" %>
          </div>
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="large-centered">
        <div class="row collapse prefix-radius">
          <p>
          <div class="small-3 columns">
            <span class="prefix">Email</span>
          </div>
          <div class="small-9 columns">
          <%= f.text_field :email, required: true, placeholder: "kanyewest@gmail.com" %>
          </div>
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="large-centered">
        <div class="row collapse prefix-radius">
          <p>
          <div class="small-3 columns">
            <span class="prefix">Password</span>
          </div>
          <div class="small-9 columns">
          <%= f.text_field :password, required: true, placeholder: "super secret password", hint: ("at least #{@minimum_password_length} characters please" if @validatable) %>
          </div>
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class=" large-centered">
        <div class="row collapse prefix-radius">
          <p>
          <div class="small-3 columns">
            <span class="prefix">Password</span>
          </div>
          <div class="small-9 columns">
          <%= f.text_field :password_confirmation, required: true, placeholder: "... and again!", hint: ("at least #{@minimum_password_length} characters please" if @validatable) %>
          </div>
          </p>
        </div>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Rock n Roll." %>
      <% end %>
    </div>


    <div class="row">
      <div class="large-centered">
        <div class="sharedlinks"><%= render "devise/shared/links" %></div>
      </div>
    </div>
</div>