<div class="signup">
  <h3 class="signup-header">Let's get you started.</h3>
  <div class="signup-body">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="row">
      <div class="large-centered">
        <div class="row collapse prefix-radius">
          <p>
          <div class="small-3 columns">
            <span class="prefix">Name</span>
          </div>
          <div class="small-9 columns">
          <%= f.text_field :name, required: true, autofocus:true, placeholder: "kanye west" %>
          </div>
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="large-centered">
        <div class="row collapse prefix-radius">
          <p>
          <div class="small-3 columns">
            <span class="prefix">Email</span>
          </div>
          <div class="small-9 columns">
          <%= f.text_field :email, required: true, placeholder: "kanyewest@gmail.com" %>
          </div>
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="large-centered">
        <div class="row collapse prefix-radius">
          <p>
          <div class="small-3 columns">
            <span class="prefix" >Password</span>
          </div>
          <div class="small-9 columns">
          <div class="password-field">
          <%= f.input :password, label:false, required: true, placeholder: "minimum 8 characters. super secret!" %>
          </div>
          </div>
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class=" large-centered">
        <div class="row collapse prefix-radius">
          <p>
          <div class="small-3 columns">
            <span class="prefix">Password</span>
          </div>
          <div class="small-9 columns">
          <%= f.input :password_confirmation, required: true, label:false,placeholder: "... and again!" %>
          </div>
          </p>
        </div>
      </div>
    </div>

    <div class="form-actions hvr-buzz-out">
      <%= f.button :submit, "ROCK N ROLL" %>
      <% end %>
    </div>


    <div class="row">
      <div class="large-centered">
        <div class="sharedlinks"><%= render "devise/shared/links" %></div>
      </div>
    </div>
</div>
