<%= minimal_form_for(User.find(current_user)) do |f| %>
  <p>
  <%= f.input :name, placeholder: 'tell me your name'%>
  </p>
  <p>
  <%= f.input :email, placeholder: 'your email address'%>
  </p>
  <p>
  <%= f.input :image, placeholder: 'profile picture'%>
  </p>
  <p>
  <%= f.association :course, as: :select %>
  </p>
  <p>
  <%= f.button :submit %>
  </p>
<% end %>