<div class="profile">
<p class="userimage"><%= image_tag("#{current_user.user_image.thumb.url}") %></p>
  <div class="profileside">
  <div class="greeting">
  <% if Time.now < "12:00" %>
    <h3><span>Good morning,</span> <%= current_user.name.upcase %>!</h3>
  <% elsif Time.now >= "17:00" %>
    <h3><span>Good evening,</span> <%= current_user.name.upcase %>!</h3>
  <% else Time.now >= "12:00" %>
    <h3><span>Good afternoon,</span> <%= current_user.name.upcase %>!</h3>
  <% end %>
  </div>
  </div>

  <div class="profileright">
  <p class="profileemail">EMAIL: <%= mail_to "#{current_user.email}" %></p>
  <% if current_user.role_id == 1 %> 
    <p>
    COURSES ENROLLED IN: 
    <% @enrolled = CoursesUser.find_by user_id: current_user.id %>
    <% if @enrolled.present? %>
      <%= Course.find(@enrolled.course_id).name %>
    <% end %>
    </p>
  <% end %>

  <% if current_user.role_id == 4 %>
  <p>
    COURSES TEACHING:
    <% @teaching = CoursesUser.find_by user_id: current_user.id %>
    <% if @teaching.present? %>
      <%= Course.find(@teaching.course_id).name %>
    <% end %>
    </p>
  </p>
  <% end %>
    
  <p>ACCOUNT STATUS: <%= Role.find(current_user.role_id).name.upcase %></p>
  <p>ACCOUNT MADE ON: <%= current_user.created_at %></p>

  <div class="editprofile">
  <p><%= link_to "Edit Profile", edit_user_registration_path(current_user) %></p>
  </div>
</div>