<h3>Hello <%= @user.name %></h3>

<p>Name: <%= current_user.name %></p>
<p>Image: <%= image_tag("#{current_user.user_image}") %></p>
<p>Email: <%= current_user.email %></p>
<p>Courses enrolled in: <%= current_user.course_id %></p>
<p>Account status: <%= Role.find(current_user.role_id).name.upcase %></p>
<p>Account made on: <%= current_user.created_at %></p>

<p><%= link_to "Edit Profile", edit_user_registration_path(current_user) %></p>