<div class="login">
  <h3 class="login-header">Welcome home buddy!</h3>
  <div class="login-body">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="row">
        <div class="large-6 columns large-centered">
          <div class="row collapse prefix-radius">
            <p>
            <div class="small-3 columns">
              <span class="prefix">Email</span>
            </div>
            <div class="small-9 columns">
            <%= f.text_field :email, required: true, autofocus: true, placeholder: "kanyewest@gmail.com" %>
            </div>
            </p>
          </div>
        </div>
      </div>
        
      <div class="row">
        <div class="large-6 columns large-centered">
          <div class="row collapse prefix-radius">
            <p>
            <div class="small-3 columns">
              <span class="prefix">Password</span>
            </div>
            <div class="small-9 columns">
            <%= f.text_field :password, required: true, autofocus: true, placeholder: "ilovemyself" %>
            </div>
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <%= f.input :remember_me, label: "Don't forget me.", as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Beam me up." %>
      </div>
    <% end %>
    
    <div class="row">
      <div class="large-6 columns large-centered">
        <div class="sharedlinks"><%= render "devise/shared/links" %></div>
      </div>
    </div>
  </div>
</div>