<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
  <div data-alert class="alert-box warning round">
    <%= f.error_messages %>
    <a href="#" class="close">&times;</a>
  </div>
  <% end %>

  <p>
  <%= f.label :name %>
  <%= f.text_field :name %>
  </p>
  <p>
  <%= f.label :duration %>
  <%= f.text_field :duration %>
  </p>
  <p>
  <%= f.label :start_date %>
  <%= f.date_select :start_date %>
  </p>
  <p>
  <%= f.label :end_date %>
  <%= f.date_select :end_date %>
  </p>
  <p>
  <%= f.label :price %>
  <%= f.text_field :price %>
  </p>
  <p>
  <%= f.submit %>
  </p>
<% end %>