<div class="courseshow">
<h3 class="courseshowname">
  <%= @course.name %>
  <p><%= @course.duration %></p>
  <p class="coursenamesub"><%= @course.start_date %></p>
  <p class="coursenamesub"><%= @course.end_date %></p>
  <p class="coursenamesub"><%= number_to_currency(@course.price, :unit => "£", :delimiter => ",") %></p>
<p>
</h3>

<div class="courseinfo">
  <p><%= @course.about %></p>

<% if current_user.role_id == 1 %>
  <p class="courseshowadd"><%= link_to "Book this course", new_course_courses_user_path(@course)%></p>
<% end %>

<% if current_user.role_id == 4 %>
  <p class="courseshowadd"><%= link_to "Teach this course", new_course_courses_user_path(@course)%></p>
<% end %>
</div>
</div>