<div class="sitemap">
  <div class="serif"><%= link_to 'NEW COURSE /', new_course_path %></div>

  <div class="sanserif"><%= link_to 'NEW CATEGORY /', new_category_path %></div>

  <div class="serif"><%= link_to 'NEW CLASSROOM /', new_classroom_path %></div>

  <div class="sanserif"><%= link_to 'PROFILE /', user_profile_path(current_user) %></div>

  <div class="serif"><%= link_to 'INSTRUCTORS /', instructor_profiles_path %></div>

  <div class="sanserif"><%= link_to 'DIRECTORY /', directory_path %></div>

  <div class="serif"><%= link_to 'WELCOME PAGE /', welcome_path %></div>

  <div class="sanserif"><%= link_to 'CREATE /', create_thing_path %></div>

  <div class="sanserif"><%= link_to 'ALL COURSES /', courses_path %></div>

  <div class="serif"><%= link_to 'ALL CLASSROOMS /', classrooms_path %></div>
</div>