.sitemap
  .serif= link_to 'NEW COURSE /', new_course_path

  .sanserif= link_to 'NEW CATEGORY /', new_category_path

  .serif= link_to 'NEW CLASSROOM /', new_classroom_path

  .sanserif= link_to 'PROFILE /', user_profile_path(current_user)

  .serif= link_to 'INSTRUCTORS /', instructor_profiles_path

  .sanserif= link_to 'DIRECTORY /', directory_path

  .serif= link_to 'WELCOME PAGE /', welcome_path

  .sanserif= link_to 'CREATE /', create_thing_path

  .sanserif= link_to 'ALL COURSES /', courses_path

  .serif= link_to 'ALL CLASSROOMS /', classrooms_path