<div class="privatetopbar">
  <nav class="top-bar" data-topbar role="navigation">
    <div class="nav">
          <ul>
            <li><%= link_to "Create New" %></li>
            <li><%= link_to "Directory" %></li>
<!--             <li><%= link_to "New Course", new_course_path %></li>
            <li><%= link_to "New Category", new_category_path %></li>
            <li><%= link_to "New Classroom", new_classroom_path %></li> -->
        <!-- <li><%= link_to "Courses", courses_path %></li>
        <li><%= link_to "Categories", categories_path %></li>
        <li><%= link_to "Classrooms", classrooms_path %></li> -->

        <% if Role.find(current_user.role_id).name == "admin" %>
      
        <% end %>
        <% if user_signed_in? %>
        <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
<!--         <li><%= link_to('Edit registration', edit_user_registration_path(current_user)) %></li>
 -->        <li><%= link_to('View Profile', user_profile_path(current_user)) %></li>
<!--         <li><%= link_to('Instructors', instructor_profiles_path) %></li> -->
        <% end %>
        <%= current_user.name %>
    </ul>
    </div>
  </nav>
</div>