<div class="privatetopbar">
  <nav class="top-bar" data-topbar role="navigation">
    <div class="nav">
          <ul>
            <li><%= link_to "DIRECTORY", directory_path %></li>
<!--             <li><%= link_to "New Course", new_course_path %></li>
            <li><%= link_to "New Category", new_category_path %></li>
            <li><%= link_to "New Classroom", new_classroom_path %></li> -->
        <!-- <li><%= link_to "Courses", courses_path %></li>
        <li><%= link_to "Categories", categories_path %></li>
        <li><%= link_to "Classrooms", classrooms_path %></li> -->

        <% if Role.find(current_user.role_id).name == "admin" %>
      <li><%= link_to "CREATE",  %></li>
        <% end %>
      <% if user_signed_in? %>
        <li><%= link_to('LOG OUT', destroy_user_session_path) %></li>
      <% end %>
<!--         <li><%= link_to('Edit registration', edit_user_registration_path(current_user)) %></li>
 -->        <li><%= link_to("#{current_user.name.downcase}'s PROFILE", user_profile_path(current_user)) %></li>
<!--         <li><%= link_to('Instructors', instructor_profiles_path) %></li> -->
        
    </ul>
    </div>
  </nav>
</div>