<!DOCTYPE html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <% if flash[:error] %>
    <div data-alert class="alert-box warning round">
      <%= flash[:error] %>
      <a href="#" class="close">&times;</a>
    </div>
  <% end %>
  <% if flash[:notice] %>
    <div data-alert class="alert-box success radius">
      <%= flash[:notice] %>
      <a href="#" class="close">&times;</a>
    </div>
  <% end %>

    <%= render 'layouts/nav' %>
    <%= yield %>

  </body>
</html>
