<!DOCTYPE html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "GAgenda" %></title>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,100italic,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic,700italic' rel='stylesheet' type='text/css'>  
    <%= stylesheet_link_tag "application" %>
    <link href='http://fonts.googleapis.com/css?family=IM+Fell+Great+Primer:400,400italic' rel='stylesheet' type='text/css'>
    <link href="css/hover.css" rel="stylesheet" media="all">
  </head>

  <body>
  <% if flash[:error] %>
    <div data-alert class="alert-box warning round">
      <%= flash[:error] %>
      <a href="#" class="close">&times;</a>
    </div>
  <% end %>
  <% if flash[:notice] %>
    <div data-alert class="alert-box success radius">
      <%= flash[:notice] %>
      <a href="#" class="close">&times;</a>
    </div>
  <% end %>
    <%= yield %>
    <% if user_signed_in? %>
      <%= render 'layouts/nav' %>
    <% else %>
      <%= render 'layouts/navpublic' %>
    <% end %>
  </body>
</html>
